<% content_for :footer do %>

	<script type="text/javascript">
		
		$(document).ready(function(){
		  
		 var ticks = <%= @ticks %>;
		 
         $.dash.severity = $.jqplot ('severity-graph', [[<%= @high.join(', ') %>], [<%= @medium.join(', ') %>], [<%= @low.join(', ') %>] ], {
		      title: "Severity Count vs Time",
		      height: 200,
		      width: 300,
		      seriesColors:['#FF0000', '#FAB90A', '#3A781A'],
		      series:[
		        {label:'High Severity'}, 
		        {label:'Medium Severity'},
		        {label:'Low Severity'}
		        ],
		      seriesDefaults: {
		          rendererOptions: {
		              smooth: true
		          }
		      },  
		      highlighter: {
			       show: true,
			       useXTickMarks: true,
			       sizeAdjust: 9.5
			  },
			  grid: { drawGridlines: true },
			  cursor: { show: true, zoom: false },
		      legend: { show:true, location: 'e' },  
		      axesDefaults: {
		        labelRenderer: $.jqplot.CanvasAxisLabelRenderer
		      },
		      axes: {
		        xaxis: {
		        	tickOptions:{ showGridline:false},	 
		        	ticks: ticks,
		        	pad: 0,
				<% if (@range == 'year' || @range == 'quarter') %>
					label: 'Month of Year'
				<% elsif (@range == 'month' || @range == 'last_month') %>
					label: 'Date of Month'
				<% elsif (@range == 'week' || @range == 'last_week') %>
					label: 'Date Of Week'
				<% elsif @range == 'last_24' %>
  					label: 'Last 24 Hours'
				<% else %>
					label: 'Hour of Day'
				<% end %>
		          
		        },
		        yaxis: {
		                 	
		          label: 'Severity Count'
	        	}
		      }
		    });
		   });
		
		
	</script>

<% end %>

<div id='severity-graph' style='display:none;' class='dashboard-graph'></div>
