<% content_for :footer do %>

   <script type="text/javascript">

	
	$(document).ready(function(){

	     $.dash.signature = $.jqplot ('signature-graph',[[<% @signature_metrics.each do |key,value| %>['<%= key.to_s %>',<%= value %>],<% end %>]], {
	        title:'Top Signatures',
	        height:400,
	        width: 300,
	        seriesDefaults:{
	            renderer:$.jqplot.BarRenderer,
	            pointLabels: { show: true },
	            rendererOptions: {
	                varyBarColor: true
	            }
	        },
	        highlighter:{ show: false},
	        axes:{
	            xaxis:{
	                label: 'Signature Name',
	                labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
	                renderer: $.jqplot.CategoryAxisRenderer,
	                tickRenderer: $.jqplot.CanvasAxisTickRenderer,
	                tickOptions: {
	                    angle: 20,
	                    fontSize: '0.8em'
	                }
	            },
	            yaxis:{
	            	label: 'Occurance',
	          		labelRenderer: $.jqplot.CanvasAxisLabelRenderer
	            }
	        }
	    });
	});
		  
		
	</script>

<% end %>

<% if @signature_metrics.empty? %>

	<div id='signature-graph' style='display:none;' class='dashboard-graph no-pie-data'></div>
	
<% else %>

<div id='signature-graph' style='display:none;' class='dashboard-graph'></div>

<% end %>
